<input ng-model="searcher" class="searcher">
<table class="table table-hover">
<thead>
	<tr>
		<th>Codigo</th>
		<th>Cliente</th>
		<th>Direccion</th>
		<th>Ciudad</th>
		<th>Repartidor</th>
		<th>Dia Reparto</th>
		<th></th>
		<th></th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="cli in clientes | filter:searcher">
		<th>{{cli.codigo}}</th>
		<th>{{cli.cliente}}</th>
		<th>{{cli.direccion}}</th>
		<th>{{cli.ciudad}}</th>
		<th>{{cli.repartidor}}</th>
		<th>{{cli.diarep}}</th>
		<th></th>
		<th></th>
	</tr>
</tbody>
	
</table>