<h1>Cargar clientes</h1>
	<form class="form-horizontal" role="form">
		<div class="form-group">
		    <label for="inputName3" class="col-sm-2 control-label">Codigo</label>
		    <div class="col-sm-4">
		      <input class="form-control" id="inputName3" placeholder="Codigo" ng-model="codigo">
		    </div>
		    <label for="inputName3" class="col-sm-2 control-label">Tipo</label>
		    <div class="col-sm-4">
		      <select name="repeatSelect" id="ciudad" ng-model="tipoFact">
    			  <option>A</option>
    			  <option>B</option>
    			  <option>9999</option>
 		  	  </select>
		    </div>
  		</div>
  		<div class="form-group">
		    <label for="inputName3" class="col-sm-2 control-label">Cliente</label>
		    <div class="col-sm-4">
		      <input class="form-control" id="inputName3" placeholder="Cliente" ng-model="cliente">
		    </div>	
		    <label for="inputName3" class="col-sm-2 control-label">Cuit</label>
		    <div class="col-sm-4">
		      <input class="form-control" id="inputName3" placeholder="Cuit" ng-model="cuit">
		    </div>	
  		</div>
  		<div class="form-group">
		    <label for="inputName3" class="col-sm-2 control-label">Direccion</label>
		    <div class="col-sm-4">
		      <input class="form-control" id="inputName3" placeholder="Direccion" ng-model="direccion">
		    </div>	
		    <label for="inputName3" class="col-sm-2 control-label">Ciudad</label>
		    <div class="col-sm-4">
		      <select name="repeatSelect" id="ciudad" ng-model="ciudad">
    			  <option ng-repeat="option in dataCiudad.availableOptions" value="{{option.id}}">{{option.name}}</option>
 		  	  </select>
		    </div>

  		</div>
  		
  		<div class="form-group">
		    <label for="inputName3" class="col-sm-2 control-label">Ultimo Pago</label>
		    <div class="col-sm-4">
		      <input class="form-control" id="inputName3" placeholder="ultimoPago" ng-model="ultimoPago">
		    </div>	
		    <label for="inputName3" class="col-sm-2 control-label">Monto</label>
		    <div class="col-sm-4">
		      <input class="form-control" id="inputName3" placeholder="monto" ng-model="monto">
		    </div>	
  		</div>
  		<div class="form-group">
		    <label for="inputName3" class="col-sm-2 control-label">Latitud</label>
		    <div class="col-sm-4">
		      <input class="form-control" id="inputName3" placeholder="Latitud" ng-model="latitud">
		    </div>	
		    <label for="inputName3" class="col-sm-2 control-label">Longitud</label>
		    <div class="col-sm-4">
		      <input class="form-control" id="inputName3" placeholder="Longitud" ng-model="longitud">
		    </div>	
  		</div>
  		<div class="form-group">
		    
  		</div>
  		<div class="form-group">
		    <label for="inputName3" class="col-sm-2 control-label">Promedio $</label>
		    <div class="col-sm-4">
		      <input class="form-control" id="inputName3" placeholder="Promedio Abono en Pesos" ng-model="promedioPesos">
		    </div>	
		    <label for="inputName3" class="col-sm-2 control-label">Promedio Botellones</label>
		    <div class="col-sm-4">
		      <input class="form-control" id="inputName3" placeholder="Promedio consumo mensual en Botellones" ng-model="promedioBot">
		    </div>
  		</div>
  		<div class="form-group">
		    	
  		</div>
  		<div class="form-group">
  			<!--
		    <label for="inputName3" class="col-sm-2 control-label">Carpeta</label>
		    <div class="col-sm-4">
		      <input class="form-control" id="carpeta" placeholder="Nro. de Carpeta" ng-model="carpeta">
		    </div>
		-->
		    <label for="inputName3" class="col-sm-2 control-label">Observaciones</label>
		    <div class="col-sm-4">
		      <input class="form-control" id="obs" placeholder="Observaciones" ng-model="obs">
		    </div>		
  		</div>	
  		<div class="form-group">
		    <label for="inputName3" class="col-sm-2 control-label">Alertas</label>
		    <div class="col-sm-4">
		      <p>Alertas pendientes </p>
		    </div>
		    <label for="inputName3" class="col-sm-2 control-label">Dias Reparto</label>
		    <div class="col-sm-4">
		      <select name="diaRep" id="diaRep" ng-model="diaRep">
    			  <option ng-repeat="dia in diaReparto.availableOptions" value="{{dia.id}}">{{dia.name}}</option>
 		  	  </select>
		    </div>		
  		</div>
  		<input type="submit" id="submit" name="saveClient" value="Guardar" ng-click="saveClient()" />



	</form>
